@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: #F2E1E1;
}
.headerImg{
    background-image: url("https://www.w3schools.com/w3images/wedding_couple.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContent{
    color: #ffffff;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.headerContent h1{
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 8px;
}
.headerContent p{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    padding: 20px 0;
}
.headerContent h4{
    font-size: 30px;
    /* font-weight: 400; */
    letter-spacing: 3px;
    
}
.container1{
    width: 100%;
    height: auto;
    background-color: #F2E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container1 div{
    /* border: 2px solid black; */
    width: 50%;
}
.container1 div p{
    text-align: left;
    padding: 20px;
    font-style: italic;
    font-weight: normal;
    line-height: 2;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
}
.container1 div h2{
    margin: 30px;
}
.btn {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.btn button{
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    background-color: #111;
    color: #ffffff;
    border-radius: 5px;
}
.btn button:hover{
    background-color: #CCCCCC;
    color: #111;
}
.container2{
    width: 100%;
    background-image: url("https://www.w3schools.com/w3images/flowers.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 div h2{
    font-size: 60px;
    color: white;
    word-spacing: 8px;
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.container2 div h4{
    font-size: 30px;
    color: white;
    text-align: center;
    word-spacing: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding: 50px 0;
}
.container3 h2{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.subContainer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.container3 .subContainer1{
    display: flex;
    justify-content: space-around;
    font-family: "Raleway", sans-serif;
}
.container3 .subContainer1 div h2,h4 {
    padding: 10px 0;
}
.container4{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35vh;
    background-color: #FFDDDD;
    align-items: center;
    font-family: "Raleway", sans-serif;

}
.container4 .subContainer1 {
    text-align: center;
}
.container4 .subContainer1 h1,h3,button{
    padding: 15px;
    word-spacing: 2px;
    letter-spacing: 5px;
}
.container4 .subContainer1 h1{
    font-weight: 100;
    
}
.container4 .subContainer1 h3{
    font-size: 15px;
    font-weight: 100;
}
.container4 .subContainer1 button{
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    margin: 20px;
    letter-spacing: 0;
}
.container4 .subContainer1 button:hover{
    background-color: #CCCCCC;
    color: #111;
}
footer{
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
}
nav{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 3px;
}
nav ul li{
    padding: 10px 208px;
}
nav ul li:hover{
    background-color: black;
    color: white;
}
