@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.headerImg{
    background-image: url("https://www.w3schools.com/w3images/wedding_couple.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContent{
    color: #ffffff;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.headerContent h1{
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 8px;
}
.headerContent p{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    padding: 20px 0;
}
.headerContent h4{
    font-size: 30px;
    /* font-weight: 400; */
    letter-spacing: 3px;
    
}
.container1{
    width: 100%;
    height: 100vh;
    background-color: #F2E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container1 div{
    /* border: 2px solid black; */
    width: 50%;
}
.container1 div p{
    text-align: left;
    padding: 20px;
    font-style: italic;
    font-weight: normal;
    line-height: 2;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
}
.container1 div h2{
    margin: 30px;
    

}
